body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans";
    font-size: 14px;
    color: #4d5969;
    line-height: 1.8;
}

a {
    box-shadow: none;
    text-decoration: none;
    background-color: transparent;
}

header {
    position: relative;
    max-width: 1140px;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

.header__logo {
    width: 15%;
    position: relative;
    align-content: center;
    align-items: center;
    padding: 10px;
}

.header__logo img {
    padding: 10px 0;
    max-height: 35px;
    height: auto;
    max-width: 100%;
}

.header__nav-menu {
    width: 73%;
    min-height: 1px;
    padding: 10px;
    align-content: center;
    align-items: center;
    position: relative;
    display: block;
}

.header__nav {
    margin: auto;
}

.header__nav-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: normal;
}


.header__nav-item {
    margin-right: 35px;
    position: relative;
    display: block;
}

.header__nav-frist-item {
    margin-left: 11%;
}

.header__nav-a {
    font-size: 14px;
    padding: 30px 0;
    color: #4d5969;
    transition: all 0.3s;
}

.header__nav-a--selected{
    color: #c01111;
}

.header__nav-a:not(.header__nav-a--selected):hover {
    color: #c01111;
}

.header__nav-a--selected::before {
    content: "";
    position: absolute;
    top: -100%;
    left: 25%;
    width: 50%;
    border: 3px solid #c01111;
    border-radius: 3px;
}

.header__nav-a:not(.header__nav-a--selected)::before {
    content: "";
    position: absolute;
    top: -120%;
    left: 25%;
    width: 50%;
    border: 3px solid #c01111;
    border-radius: 3px;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.3s;
}

.header__nav-a:not(.header__nav-a--selected):hover::before {
    top: -100%;
    transform: scaleY(1);
}

.header__language {
    width: 12%;
    min-height: 1px;
    position: relative;
    align-content: center;
    align-items: center;
    padding: 10px;
}

.header__language-list {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: right;
    display: block;
}

.header__language-item {
    display: inline-block;
    cursor: pointer;
    list-style: none;
}

.header__language-item a {
    color: #949ba4;
    font-size: 14px;
    padding: 0 6px;
}

.header__language-item--selected a{
    color: #c01111;
    font-weight: bold;
    border: 1px solid #c01111;
    border-radius: 4px;
    padding: 1px 13px;
}

.header__language-item a:not(.header__language-item--selected a):hover {
    color: #c01111;
}

.banner {
    position: relative;
    padding-bottom: 40%;
    overflow: hidden;
}

.banner video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main_container {
    max-width: 1170px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 60px;
}

.section {
    max-width: 1140px;
    color: #2b3441;
    margin-bottom: 100px;
    position: relative;
    width: 100%;
}

.business__heading {
    font-size: 40px;
    margin: 40px 0;
    line-height: 1.5;
}

.business__intro {
    display: flex;
    align-items: center;
    border: 6px solid #f9f9f9;
    border-radius: 16px;
    position: relative;
    background-color: #fff;
}

.business__intro-border {
    border: 6px solid #f9f9f9;
    border-radius: 16px;
    position: absolute;
    padding: 100px;
    left: -53px;
    z-index: -1;
}

.business__intro-description {
    flex: 0.8;
    margin: 40px 70px;
    font-size: 16px;
    line-height: 1.8;
    width: 50%;
    color: #2b3441;
}

.business__intro-image {
    flex: 1;
    position: relative;
}

.business__intro-image img {
    position: absolute;
    top: -240px;
    left: -20px;
    height: auto;
    max-width: 110%;
}

.business__service {
    padding: 10px;
    margin-top: 90px;
}

.business__service-list {
    display: flex;
    list-style: none;
    padding: 0px;
    margin: 0;
    color: #4d5969;
}

.business__service-item:first-child {
    margin-right: 20px;
}

.business__service-item:last-child {
    margin-left: 20px;
}

.business__service-item {
    border: 1px solid #d7dadc;
    border-radius: 16px;
    padding: 48px;
    background-color: #fff;
    position: relative;
}

.business__service-sub-title {
    font-weight: 300;
    position: relative;
    z-index: 0;
    margin-top: 0px;
    margin-bottom: 30px;
    font-size: 14px;
}

.business__service-sub-title::before {
    background-color: rgba(255, 255, 255, 0.3);
    content: '';
    position: absolute;
    width: 38px;
    height: 38px;
    background-color: #f3f3f3;
    border-radius: 50%;
    left: 0;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.business__service-title {
    font-size: 32px;
    margin-bottom: 24px;
    color: #2b3441;
    font-weight: 700;
    line-height: 1.3;
}

.business__service-description {
    margin-bottom: 40px;
    font-size: 16px;
}

.large-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    height: 80px;
    line-height: 80px;
    font-size: 18px;
    font-weight: 700;
    border: none;
    transition: background-color 0.3s;
}

.large-btn__icon {
    font-size: 13px;
    width: 24px;
    height: 24px;
    margin-left: 12px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    line-height: 25px;
    align-items: center;
    text-align: center;
}

.btn--dark {
    background-color: #2b3441;
    color: #fff;
}

.btn--dark:hover {
    background-color: #c01111;
    color: #fff;
}

.business__service-item--highlighted {
    background-color: #c01111;
    color: #fff;
}

.business__service-item--highlighted .business__service-sub-title::before {
    background-color: rgba(255, 255, 255, 0.3);
}

.business__service-item--highlighted .business__service-title {
    color: #fff;
}

.btn--light {
    background-color: #fff;
    color: #c01111;
}

.btn--light .large-btn__icon {
    background-color: rgba(192, 17, 17, 0.1);
}

.btn--light:hover {
    background-color: #2b3441;
    color: #fff;
}

.btn--light:hover .large-btn__icon {
    background-color: rgba(255, 255, 255, 0.1);
}

.business__service-item--highlighted::before {
    content: '';
    width: 66px;
    height: 66px;
    border-radius: 50%;
    background-color: #d82329;
    position: absolute;
    right: 50px;
    top: 0;
    transform: translateY(-50%);
}

.business__service-item:nth-child(2)::before {
    content: '';
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #c01111;
    position: absolute;
    right: -83px;
    bottom: 166px;
    transform: translateY(-50%);
}

.business__service-item:nth-child(2):after {
    content: '';
    width: 66px;
    height: 66px;
    border-radius: 50%;
    background-color: #fff7f7;
    position: absolute;
    right: 55%;
    bottom: -85px;
}

.project {
    position: relative;
    display: flex;
}

.project__wrap {
    padding: 10px;
    position: relative;
    align-content: flex-start;
    min-width: 7%;
}

.project__wrap-left {
    width: 50%;
    margin-right: 100px;
}

.project__heading {
    margin-bottom: 20px;
    font-size: 40px;
    line-height: 1.5;
    position: relative;
}

.project__heading::before {
    content: '';
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: #c01111;
    position: absolute;
    right: 25%;
    top: -30px;
    transform: translateY(-50%);
}

.project__heading::after {
    content: '';
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: rgba(192, 17, 17, .1);
    position: absolute;
    left: 0;
    bottom: -40px;
}

.project__counter {
    margin-bottom: 20px;
    margin-top: 40px;
    padding-bottom: 30px;
}

.project__counter ul{
    list-style: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.project__counter li {
    display: flex;
    align-items: flex-end;
    margin-bottom: 50px;
}

.project__number-wrap {
    display: flex;
    align-items: flex-start;
}

.project__number {
    color: #c01111;
    font-size: 112px;
    font-weight: 700;
    line-height: 1.2
}

.project__plus {
    color: #c01111;
    font-size: 48px;
    font-weight: 700;
    padding-left: 30px;
    position: relative;
    top: -5px;
}

.project__title {
    font-size: 24px;
    position: relative;
    top: -10px;
    left: -50px;
    color: #4d5969;
}

.project__btn {
    margin-top: 20px;
    margin-bottom: 0;
    display: flex;
}

.project__btn-link {
    padding: 0 125px;
    max-width: 100%;
    border-radius: 4px !important;
}


.project__wrap-right {
    margin-top: 90px;
    margin-bottom: 70px;
    width: 30%;
}

.project__wrap-right::before {
    content: '';
    width: 71px;
    height: 71px;
    border-radius: 50%;
    background-color: #ffeff0;
    position: absolute;
    right: -200px;
    bottom: -140px;
}

.project__carousel {
    display: block;
    padding: 0;
    margin: 0;
}

.project__carousel-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.project__carousel-item {
    width: 322px;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    display: block;
    float: right;
    height: 100%;
    min-height: 1px
}

.project__carousel-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(249, 249, 249, .9);
}

.project__carousel-img {
    width: 100%;
    height: auto;
    max-width: 100%;
    border: none;
    border-radius: 0;
    box-shadow: none;
    display: block;
}

.project__carousel-content {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 24px;
}

.project__carousel-sub-title {
    font-size: 13px;
}

.project__carousel-title {
    font-size: 20px;
    line-height: 1.5;
    margin-top: 10px;
    margin-bottom: 15px;
}

.project__carousel-title a {
    color: #2b3441;
}

.project__carousel-title a:hover {
    color: #c01111;
}

.project__carousel-description {
    margin-bottom: 20px;
}

.project__carousel-btn {
    color: #c01111;
    padding: 0;
    display: inline-block;
    line-height: 1;
    font-weight: 700;
    text-align: center;
    transition: all 0.3s;
    position: relative;
    z-index: 1;
}

.project__carousel-btn-icon {
    font-size: 12px;
    width: 20px;
    height: 20px;
    margin-left: 10px;
    border-radius: 50%;
    display: inline-block;
    background-color: rgba(192, 17, 17, 0.1);
    line-height: 20px;
    text-align: center;
}


.project__angle {
    position: absolute;
    bottom: -62px;
}

.angle-slider {
    padding: 0;
    border: none;
    background-color: rgba(148, 155, 164, 0.1);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: all 0.3s;
}

.project__carousel .angle-prev {
    right: 72px;
}

.project__carousel .angle-next {
    right: 10px;
}

.angle-slider i {
    font-size: 20px;
    color: #949ba4;
}

.angle-slider:hover {
    background-color: #c01111;
}

.angle-slider:hover i {
    color: #fff;
}

/* Culture & Event CSS */
.culture-event {
    padding: 10px;
    position: relative;
}

.culture-event::before {
    content: '';
    width: 71px;
    height: 71px;
    border-radius: 50%;
    background-color: #ffeff0;
    position: absolute;
    left: -90px;
    top: 40%;
}

.culture-event__heading {
    margin-bottom: 20px;
    font-size: 40px;
    line-height: 1.5;
    position: relative;
    display: inline-block;
    padding-bottom: 10px;
}

.culture-event__heading:before {
    content: '';
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: #c01111;
    position: absolute;
    right: 5%;
    top: -45px;
}

.culture-event__container {
    display: block;
    margin: 0 -12px;
}

.culture-event__slider {
    position: relative;
}

.culture-event__angle {
    position: absolute;
    top: -70px;
}

.culture-event__slider .angle-prev {
    right: 84px;
}

.culture-event__slider .angle-next {
    right: 12px;
}

.culture-event__btn {
    text-align: center;
    width: 366px;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 75px;
}

.culture-event__news-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
}

.culture-event__news {
    width: 312px;
    display: block;
    padding: 24px;
    border: 1px solid transparent;
    border-radius: 8px;
    margin: 0 12px;
    transition: all .3s;
    float: left;
    height: 100%;
    min-height: 1px;
}

.culture-event__news:hover {
    border: 1px solid #e3e6e9;
}

.culture-event__img {
    position: relative;
}

.culture-event__img img {
    border-radius: 10px;
    height: auto;
    max-width: 100%;
    border: none;
    display: block;
}

.culture-event__label {
    position: absolute;
    top: -22px;
    right: -16px;
    border: 6px solid rgba(255, 255, 255, .5);
    border-radius: 34px;
}

.culture-event__label span {
    display: block;
    color: #fff;
    background-color: #c01111;
    font-weight: 700;
    border-radius: 34px;
    line-height: 32px;
    padding: 0 20px;
}

.culture-event__content {
    position: relative;
    z-index: 0;
}

.culture-event__content:before {
    content: '';
    position: absolute;
    width: 38px;
    height: 38px;
    background-color: rgba(228, 228, 228, .4);
    border-radius: 50%;
    left: 2px;
    top: 12px;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.culture-event__title {
    font-size: 14px;
    margin-top: 30px;
    margin-bottom: 20px;
    height: 75px;
    overflow: hidden;
}

.culture-event__title a {
    color: #2b3441;
}

.culture-event__title a:hover {
    color: #c01111;
}

.culture-event__description {
    color: #949ba4;
    height: 75px;
    overflow: hidden;
    margin-bottom: 20px;
}

.culture-event__details {
    padding: 0;
    display: inline-block;
    line-height: 1;
    font-weight: 700;
    text-align: center;
    transition: all 0.3s;
    position: relative;
    z-index: 1;
}

.culture-event__details a {
    color: #c01111;
}

.culture-event__details-icon {
    font-size: 12px;
    width: 20px;
    height: 20px;
    margin-left: 10px;
    border-radius: 50%;
    display: inline-block;
    background-color: rgba(192, 17, 17, 0.1);
    line-height: 20px;
    text-align: center;
}
