<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="../../assets/css/styles.css" />
</head>
<body>
    <footer class="footer">
        <div class="footer__section">
            <div class="footer__block">
                <a href="index.html">
                    <img src="../../assets/images/logo-sun@2x.png" alt="Sun* Inc. Logo" class="footer__sun-logo"/>
                </a>
            </div>
            <div class="footer__block">
                <h2 class="footer__heading">Chúng tôi là ai?</h2>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="#">Tầm nhìn, sứ mệnh</a>
                    </li>
                    <li class="footer__item">
                        <a href="#">Giá trị cốt lõi</a>
                    </li>
                    <li class="footer__item">
                        <a href="#">Ý nghĩa tên Sun*</a>
                    </li>
                </ul>
            </div>
            <div class="footer__block">
                <h2 class="footer__heading">Chúng tôi làm gì?</h2>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="#">Creative & Engineering</a>
                    </li>
                    <li class="footer__item">
                        <a href="#">Talent Platform</a>
                    </li>
                    <li class="footer__item">
                        <a href="#">Dự án của chúng tôi</a>
                    </li>
                </ul>
            </div>
            <div class="footer__block">
                <h2 class="footer__heading">Cập nhật tin tức</h2>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="#">Văn hóa - Sự kiện</a>
                    </li>
                    <li class="footer__item">
                        <a href="#">Tuyển dụng</a>
                    </li>
                    <li class="footer__item">
                        <a href="#">Chính sách phúc lợi</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer__section">
            <div class="footer__block"></div>
            <div class="footer__block">
                <h2 class="footer__heading">Liên hệ</h2>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="#">SĐT: 84-24-3795-5417</a>
                    </li>
                    <li class="footer__item">
                        <a href="#">Email: hr@sun-asterisk.com</a>
                    </li>
                </ul>
            </div>
            <div class="footer__block footer__big-block">
                <h2 class="footer__heading">Văn phòng</h2>
                <ul class="footer__list">
                    <li class="footer__item">
                        <p>T13, Keangnam Hanoi Landmark Tower, khu E6, khu ĐTM Cầu Giấy, phường Mễ Trì, quận Nam Từ Liêm, Hà Nội</p>
                    </li>
                    <li class="footer__item">
                        <p>Tầng 4, tòa FHome Building, số 16 Lý Thường Kiệt, quận Hải Châu, Tp. Đà Nẵng</p>
                    </li>
                    <li class="footer__item">
                        <p>Tầng 9, L'Mak Long Tower, số 101-103 Nguyễn Cửu Vân, Phường 17, Quận Bình Thạnh, Thành phố Hồ Chí Minh.</p>
                    </li>
                    <li class="footer__item">
                        <p>Văn phòng Tokyo - Văn phòng Cebu - Văn phòng Phnom Penh</p>
                    </li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="footer__section">
            <div class="footer__block">
                <a href="index.html">
                    <img src="../../assets/images/bear-footer.png" alt="Sun* Inc. Logo"/>
                </a>
            </div>
            <div class="footer__block">
                <ul class="footer__list">
                    <li class="footer__item">
                        <p>@ 2021 Sun-asterisk. All rights reserved.</p>
                    </li>
                    <li>
                        <p>Giấy chứng nhận ĐKDN: 0106045931 do Sở KHĐT TP Hà Nội cấp lần đầu ngày 29/10/2012</p>
                    </li>
                    <li>
                        <p>Giấy phép hoạt động DVVL: 03/2022 do Sở LĐTBXH TP Hà Nội cấp lần đầu ngày 10/01/2022</p>
                    </li>
                    <li>
                        <p>Người đại diện theo pháp luật: KOBAYASHI TAIHEI - Tổng giám đốc</p>
                    </li>
                </ul>
            </div>
            <div class="footer__block footer__social">
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="#">
                            <i class="fa-brands fa-youtube"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa-brands fa-facebook-f"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa-brands fa-linkedin-in"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../../assets/images/6d2d06d.jpg" alt="Sun* Inc. News" class="footer__icon-news">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
</body>
</html>

