
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sun* Inc</title>
    <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
    <link rel="stylesheet" href="../../assets/css/styles.css" />
</head>
<body>
    <header class="header">
        <div class="header__logo">
            <a href="index.html">
              <img src="../../assets/images/logo-sun@2x.png" alt="Sun* Inc. Logo"/>
            </a>
        </div>
        <div class="header__nav-menu">
            <nav class="header__nav">
                <ul class="header__nav-list">
                    <li class="header__nav-item header__nav-frist-item">
                      <a href="/index.html" class="header__nav-a header__nav-a--selected">Trang chủ</a>
                    </li>
                    <li class="header__nav-item">
                        <a href="#" class="header__nav-a">Về chúng tôi</a>
                    </li>
                    <li class="header__nav-item">
                        <a href="#" class="header__nav-a">Dự Án</a>
                    </li>
                    <li class="header__nav-item">
                        <a href="#" class="header__nav-a">Cơ hội nghề nghiệp</a>
                    </li>
                    <li class="header__nav-item">
                        <a href="#" class="header__nav-a">Môi trường làm việc</a>
                    </li>
                    <li class="header__nav-item">
                        <a href="#" class="header__nav-a">Tin tức</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="header__language">
            <ul class="header__language-list">
                <li class="header__language-item header__language-item--selected">
                    <a lang="vi" hreflang="vi" href="#">VI</a>
                </li>
                <li class="header__language-item">
                    <a lang="en-US" hreflang="en-US" href="#">EN</a>
                </li>
            </ul>
        </div>
    </header>
</body>
</html>
